* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

:root {
  font-size: 6.25%;
  --clr-button: rgb(224, 126, 126);
  --red: #8B0000;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(224, 167, 126);
  background: linear-gradient(0deg, #e99f6a 0%, #f3c79d 30%, rgb(214, 184, 138) 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0rem -23rem 25rem 0rem inset, rgba(0, 0, 0, 0.15) 0rem -36rem 30rem 0rem inset, rgba(0, 0, 0, 0.1) 0rem -79rem 40rem 0rem inset, rgba(0, 0, 0, 0.06) 0rem 2rem 1rem, rgba(0, 0, 0, 0.09) 0rem 4rem 2rem, rgba(0, 0, 0, 0.09) 0rem 8rem 4rem, rgba(0, 0, 0, 0.09) 0rem 16rem 8rem, rgba(0, 0, 0, 0.09) 0rem 32rem 16rem;
  font-family: 'Tangerine', cursive;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

header {
  height: 200rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 38rem;
}


.line {
  border: solid 1px var(--red);
  border-radius: 50%;
  width: 650rem;
}

header span {
  color: black;
}

#playButton {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-color: var(--red);
  border: none;
  color: white;
  font-size: 24rem;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  line-height: 1;
}

#playButton:hover {
  transform: translateY(2px);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}

#playButton:active {
  box-shadow: 0px 0 0 11px #fff, 0px 0 0 10px rgb(221, 99, 99); 
  background-color: #fff;
}

.active {
  box-shadow: 0px 0 0 11px #fff;
  background-color: #fff;
}

#playButton img {
  width: 30rem;
  height: 30rem;
}

#leftSide {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#rightSide {
  width: 60%;
}

.photo {
  height: 449rem;
  width: 360rem;
  position: sticky;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease, transform 1s ease;
}


@keyframes moveAndRotate {
  from {
    transform: rotate(-10deg) translateY(100%);
  }

  to {
    transform: rotate(-10deg) translateY(0);
  }
}

@keyframes moveAndRotateEven {
  from {
    transform: rotate(10deg) translateY(100%);
  }

  to {
    transform: rotate(10deg) translateY(0);
  }
}

.lyrics {
  height: 449rem;
  padding: 48rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 50rem;
  font-weight: 700;
  color: var(--red);
}

h2 {
  font-size: 40rem;
  font-weight: 400;
}

.lyrics h1,
.lyrics h2 {
    overflow: hidden;
    opacity: 0;
    white-space: nowrap;
    -webkit-user-select: none;
}

.lyrics h1 span,
.lyrics h2 span {
    display: inline-block;
    opacity: 0;
    animation: text-appear 0.5s forwards; /* Adicionando a animação */
}

@keyframes text-appear {
    to {
        opacity: 1;
    }
}

@media (max-width: 415px) {
  header h1 {
    font-size: 40rem;
  }
  
  .line {
    width: 350rem;
  }

  .photo {
    height: 160rem;
    width: 130rem;
  }

  .lyrics {
    height: 160rem;
    padding: 10rem;
  }

  h1 {
    font-size: 20rem;
  }
  
  h2 {
    font-size: 16rem;
  }
}